<%#
# Copyright 2015 Unicode4all
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License. 
%>

<h3><%= @user.name %></h3>

<%= link_to_if(can?(:update,@user), "Edit", edit_user_path(@user)) %> |
<%= link_to_if(can?(:delete, @user), "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %>

<table class="one-column-emphasis">
    <tbody>
        <tr>
            <td class="oce-first">Role:</td>
            <td><%= @user.roles.first.name %></td>
        </tr>
        <% if can?(:see_timestamps,User) %>
          <tr>
              <td class="oce-first">Created at:</td>
              <td><%= @user.created_at %></td>
          </tr>
          <tr>
              <td class="oce-first">Last Sign In:</td>
              <td><%= @user.last_sign_in_at %></td>
          </tr>
          <tr>
              <td class="oce-first">Sign In Count:</td>
              <td><%= @user.sign_in_count %></td>
          </tr>
        <% end %>
    </tbody>
</table>